html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* styles go here */

/* general styling */
:target {
  padding-top: 4rem;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  max-width: 75%;
}

/* typography */
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
}

h1, 
h2, 
h3 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2rem;
  color: #212529;
  font-weight: bold;
  text-align: center;
  margin: 0 0 2rem 0;
}

h2 span {
  background-color: #e5d049;
  display: inline-block;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

/* buttons and links*/
button {
  border: solid 0.1rem transparent;
  text-align: start;
  font-family: 'Open Sans', sans-serif;
  width: max-content;
}

button,
.projectLink {
  color: white;
  background-color: #343a40;
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.projectControls button:hover,
.projectControls button:focus,
.projectLink:hover,
.projectLink:focus,
form button:hover,
form button:focus,
.contactText i:hover,
.contactText i:focus {
  transition: ease 0.5s;
}

/* nav */
nav {
  color: #252b33;
  font-family: 'Poppins', sans-serif;
  background-color: #f5df4e;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav .desktopList,
.siteNav {
  display: flex;
  justify-content: space-between;
}

.siteTitle,
.siteNav {
  width: 50%;
}

.siteNav {
  align-self: flex-end;
}

.siteNav li {
  border-bottom: solid 0.1rem transparent;
}

.siteNav li:hover {
  border-bottom: solid 0.1rem #212529;
}

.siteTitle {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.mobileNav, 
.mobileNavOpen {
  display: none;
}

.mobileNavOpen {
  font-size: 2rem;
  background-color: inherit;
  color: black;
}

.mobileNav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -100%;
  background-color: rgba(0,0,0, 0.9);
  transition: 0.5s;
  color: white;
}

.closeContainer {
  text-align: right;
}

.mobileNavClose {
  font-size: 3rem;
  background-color: transparent;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.mobileNav li {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}

/* header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.884)), url(assets/unsplash.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

header p {
  font-size: 1.5rem;
  text-align: center;
}

header p,
.skip {
  text-align: center;
}

h1, 
header p {
  color: white;
}

/* header animation */
.skipContainer {
  text-align: center;
  margin-top: 1.5rem;
}

@keyframes skip {
  0% {
    top: 0;
  }

  50% {
    top: 1rem;
  }

  100% {
    top: 0;
  }
}

.skip {
  position: relative;
  animation: skip 2s linear infinite;
  -webkit-animation: skip 2s linear infinite;
  font-size: 3rem;

}

/* sections */
section {
  padding: 2rem 0;
}
/* about */

.name {
  font-weight: bold;
  border-bottom: solid 0.2rem #e5d049;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
}

.aboutImgContainer img {
  box-shadow: 1rem 1rem #f5df4e;
  width: inherit;
}

.aboutText {
  margin-right: 2rem;
}

.about p {
  margin-bottom: 0.7rem;
}

.aboutImgContainer {
  width: 350px;
  height: auto;
}

/* skills */
.skills {
  background-color: #d4d4d4;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  flex-basis: 25%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills i {
  color: goldenrod;
  font-size: 4rem;
}

/* projects */
article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 2rem 0;
}

.imgContainer {
  margin-right: 3rem;
  width: auto;
  height: auto;
}

.imgContainer img {
  box-shadow: -1rem 1rem #f5df4e;
  width: inherit;
}

.projectContainer {
  max-width: 600px;
}

.projectCarousel {
  display: none;
}

.projects ul {
  padding-top: 2rem;
}

.projectControls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.projectControls button {
  background-color: inherit;
  color: black;
}

.projectControls button:hover,
.projectControls button:focus {
  color: #f5df4e;
}

.projects .projectControls p {
  margin: 1rem 1rem 0 0;
  line-height: 1rem;
}

.projects p {
  margin-bottom: 2rem;
}

.projects p a {
  font-weight: bold;
}

.projectLink {
  margin-right: 1rem;
}

p.technologiesUsed {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.projects i {
  padding-right: 1rem;
}

.projectLink:hover,
.projectLink:focus {
  background-color: #f5df4e;
  color: black;
}

/* carousel animation */
@keyframes next {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.transition {
  animation: next 1s linear;
  -webkit-animation: next 1s linear;
}

/* contact */
.contact,
input, 
textarea {
  background-color: #f5df4e;
}

.contactContainer {
  justify-content: space-between;
}

.contact h2 {
  text-align: start;
}

.contactContainer,
.contact ul {
  display: flex;
}

.contactText i {
  font-size: 2.5rem;
  padding-right: 2rem;
}

.contactText i:hover,
.contactText i:focus {
  color: #444b52;
}

form {
  display: flex;
  flex-direction: column;
}

form button:hover,
form button:focus {
  background-color: #000000;
}

.contact h2 {
  margin-bottom: 1rem;
}

.contactText, 
form {
  width: 45%;
}

input, 
textarea, 
label {
  margin-bottom: 1rem;
}

input, 
textarea {
  border: solid 0.1rem black;
}

/* footer */
footer {
  background-color: #343a40;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

footer span {
  font-weight: bold;
  color: #f5df4e;
}

/* media queries */

@media (max-width: 900px) {
  .aboutContainer, 
  article {
    flex-direction: column-reverse;
  }

  .aboutText {
    margin-right: 0;
  }

  .imgContainer, 
  .aboutImgContainer {
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 85%;
  }

  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 700px) {
  .siteNav {
    display: none;
  }
  
  .mobileNavOpen, 
  .mobileNav {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .contactContainer {
    flex-direction: column;
  }

  .contactText, form {
    width: 100%;
}
}

@media (max-width: 600px) {
.skills li {
  flex-basis: 33%;
  }
}

@media (max-width: 570px) {
  .wrapper {
    max-width: 90%;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 432px) {
  .imgContainer, 
  .aboutImgContainer {
    width: 100%;
  }

  .skills i {
  font-size: 2rem;
  }

  .skills p {
    font-size: 0.7rem;
  }
}