html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* yellow: #e5d049 */
/* gray: #252b33 */

/* styles go here */
html {
  font-size: 125%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: #212529;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

nav .desktopList {
  display: flex;
  justify-content: space-between;
}

.siteTitle {
  width: 50%;
}

.siteNav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.siteNav li {
  border-bottom: solid 0.1rem transparent;
}

.siteNav li:hover {
  border-bottom: solid 0.1rem #212529;
}

.wrapper {
  margin: 0 auto;
  max-width: 75%;
}

/* nav */
nav {
  color: #252b33;
  font-family: 'Poppins', sans-serif;
  background-color: #f5df4e;
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
}

.siteTitle {
  font-size: 1.5rem;
}

.mobileNav, .mobileNavOpen {
  display: none;
}

.mobileNavOpen {
  font-size: 2rem;
}

.mobileNav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -100%;
  background-color: rgba(0,0,0, 0.9);
  transition: 0.5s;
  color: white;
}

.mobileNavClose {
  text-align: end;
  font-size: 3rem;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.mobileNav li {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}

/* header */
header {
  background: url(https://images.unsplash.com/photo-1547954575-855750c57bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  font-size: 6rem;
  text-transform: uppercase;
}

header p {
  font-size: 1.5rem;
  text-align: center;
}

h1, header p {
  color: white;
}

/* about */
section {
  margin: 2rem 0;
}

.name {
  font-weight: bold;
  border-bottom: solid 0.2rem #e5d049;
}

h2 {
  text-align: center;
}

h2 span {
  background-color: #e5d049;
  display: inline-block;
}

.about h2 {
  margin-bottom: 2rem;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
}

.aboutImgContainer img {
  box-shadow: 1rem 1rem #f5df4e;
  width: inherit;
}

.aboutText {
  margin-right: 4rem;
}

.aboutImgContainer {
  width: auto;
  height: auto;
}

/* skills */
.skills {
  background-color: #d4d4d4;
}

.skills span {
  margin-top: 2rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.skills li {
  color: goldenrod;
  font-size: 2rem;
  padding: 1rem;
}

/* projects */
.projects li {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.imgContainer {
  margin-right: 3rem;
  width: auto;
  height: auto;
}

.imgContainer img {
  box-shadow: -1rem 1rem #f5df4e;
  width: inherit;
}
.projects ul {
  padding-top: 2rem;
}

.projects p {
  margin-bottom: 2rem;
}

.projects a {
  color: white;
  background-color: #343a40;
  padding: 0.5rem;
  margin-right: 1rem;
}

/* contact */
.contact {
  padding: 3rem 0;
  background-color: #f5df4e;
  margin-bottom: 0;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
}

.contact h2 {
  text-align: start;
}

.contact ul {
  display: flex;
}

.contactText i {
  font-size: 2.5rem;
  padding-right: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 1rem;
}

.contactText, form {
  width: 45%;
}

input, textarea, label {
  margin-bottom: 1rem;
}

input, textarea {
  background-color: #f5df4e;
  border: solid 0.1rem black;
}

button {
  background-color: #343a40;
  color: white;
  border: solid 0.1rem transparent;
  text-align: start;
  font-family: 'Open Sans', sans-serif;
  width: max-content;
  padding: 0.5rem;
}

/* footer */
footer {
  background-color: #343a40;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

footer span {
  font-weight: bold;
  color: #f5df4e;
}

/* media queries */
@media (max-width: 900px) {
  .aboutContainer, .projects li {
    flex-direction: column-reverse;
  }

  .aboutText {
    margin-right: 0;
  }

  .imgContainer, .aboutImgContainer {
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 85%;
  }

  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 700px) {
  .siteNav {
    display: none;
  }
  
  .mobileNavOpen, .mobileNav {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .contactContainer {
    flex-direction: column;
  }

  .contactText, form {
    width: 100%;
}
}

@media (max-width: 570px) {
  .wrapper {
    max-width: 90%;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 432px) {
  .imgContainer, .aboutImgContainer {
    width: 100%;
  }
}